.navbar{
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.nav-link:hover{
    color: gray;
}

.nav-item{
    border-bottom: 0.8px solid rgba(0, 0, 0, 0.05);
    text-align: center;
}
/* button */
.btn:not(.nav-btns button){
    padding:10px 20px;
    border-radius: 30px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover{
    background-color:#3B71CA;
    border-color:#3B71CA ;
}
.active-filter-btn{
    background-color:#3B71CA ;
    border-color:#3B71CA
}
/* footer */
footer a{
    transition: color 0.3s ease;
}
footer a:hover{
    color:#3B71CA;
}
/* media queries */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}